<!-- 404: Error -->
{% capture content %}

	<div class="grid about">
		<div class="unit whole align-center">
			<h1>Nothing to see here...</h1>
			<p>Something went wrong :(</p>
		</div>
	</div>

{% endcapture %}

{% include 'layouts/default' %}